@import "./misc.scss";

//nav style
nav {
  width: 100%;
  height: 75px;
  padding: 0 20px;
  @include FlexBox(row, center, space-between);
  ul {
    @include FlexBox(row, center, flex-end);
    list-style: none;
  }
}

//home style
.home-style {
  width: 100%;
  height: 100%;
  @include FlexBox(column, center, center);

  .home-first {
    width: 100%;
    height: calc(53vh - 75px);
    @include FlexBox(column, flex-start, center);
    background-image: url(./media/movie2.jpg);
    background-size: cover;
    opacity: 0.8;
  }
  .home-left {
    @include FlexBox(column, flex-start, space-evenly);
    width: 600px;
    height: 70%;
    padding: 40px;

    button {
      outline: none;
      border: none;
      padding: 5px 10px;
      border-radius: 5px;
      background-color: #233862;
      color: white;
      cursor: pointer;
    }
  }
  .home-second {
    @include FlexBox(column, center, center);

    div {
      @include FlexBox(row, center, center);
      padding: 10px;
    }
  }
}
//search page

.search-page {
  @include FlexBox(column, center, center);

  .movies-container {
    @include FlexBox(column, center, center);
    padding: 10px;

    .movie-box {
      @include FlexBox(row, flex-start, center);
      .movie-info {
        @include FlexBox(column, flex-start, space-evenly);
        height: 300px;
        padding-left: 20px;
      }
    }
  }
}

//movie-details-page

.movie-details-page {
  @include FlexBox(column, flex-start, center);

  .main-box {
    margin-left: 100px;
    margin-top: 50px;

    .review {
      margin-top: 50px;
      ::placeholder {
        font-style: normal;
        font-size: 1em;
        color: rgb(110, 126, 118);
        padding: 5px;
      }
    }
    .movie-box {
      @include FlexBox(row, flex-start, center);
      .movie-info {
        @include FlexBox(column, flex-start, space-evenly);
        height: 300px;
        padding-left: 20px;
      }
    }
  }
}

//search container

.search-container {
  width: 380px;
  @include FlexBox(row, center, space-between);
  ::placeholder {
    font-style: normal;
    font-size: 1em;
    color: rgb(110, 126, 118);
    padding: 5px;
  }
  input {
    border-radius: 5px;
    width: 70%;
    height: 40px;
  }

  button {
    outline: none;
    border: none;
    width: 25%;
    height: 40px;
    border-radius: 5px;
    background-color: #233862;
    color: white;
    cursor: pointer;
  }
}

// StarView

.stars {
  label {
    .star {
      cursor: pointer;
      transition: color 200ms;
    }
    input[type="radio"] {
      display: none;
    }
  }
}
