//colors
$primaryColor: #233862;
$secondaryColor: #bfbec4;
$textColor: #50061f;
$goldColor: #f6ab27;
$backgroundColor: #f6f8fe;

//mixins

@mixin FlexBox($direction, $align, $justify) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}

//font
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

//html global style
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
}
